{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "global-require": "off",
    "linebreak-style": "off",
    "no-return-await": "off",
    "no-unused-vars": "warn",
    "import/export": "off",
    "import/extensions": ["error", "ignorePackages", { "ts": "never" }],
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/prefer-default-export": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  }
}
